In [1]:
import pickle
import pandas as pd

In [2]:
loaded_model = pickle.load(open('modelo_treinado.pkl', 'rb'))

In [4]:
data = {
    "transaction_id": 2342357,
    "merchant_id": 29744,
    "user_id": 1,
    "card_number": "434505******9116",
    "transaction_date": "2019-11-30T23:16:32.812632",
    "transaction_amount": 373,
    "device_id": 285475
}

dados = pd.DataFrame(data, index=[0])

In [5]:
dados

,transaction_id,merchant_id,user_id,card_number,transaction_date,transaction_amount,device_id
0,2342357,29744,1,434505******9116,2019-11-30T23:16:32.812632,373,285475

In [5]:
#dados = pd.read_csv('transactional-sample.csv')
dados['transaction_date'] = pd.to_datetime(dados['transaction_date'])
dados['dia'] = dados['transaction_date'].dt.day
dados['mês'] = dados['transaction_date'].dt.month
dados['dia_semana'] = dados['transaction_date'].dt.dayofweek
dados['horario'] = dados['transaction_date'].dt.time
dados['horario'] = dados['transaction_date'].dt.hour * 3600 + dados['transaction_date'].dt.minute * 60 + dados['transaction_date'].dt.second
dados.drop(columns = 'transaction_date', inplace = True)
dados['card_number'] = dados['card_number'].str.replace('*', '')
dados['card_number'] = pd.to_numeric(dados['card_number'])
dados.drop(columns = 'device_id', inplace = True)

C:\Users\andre\AppData\Local\Temp\ipykernel_73656\3889306828.py:9: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  dados['card_number'] = dados['card_number'].str.replace('*', '')

In [6]:
dados.tail(1)

,transaction_id,merchant_id,user_id,card_number,transaction_amount,dia,mês,dia_semana,horario
0,2342357,29744,97051,4345059116,373,30,11,5,83792

In [7]:
loaded_model.predict_proba(dados.tail(1)).tolist()[0][0]

0.8670187592506409

In [7]:
cbk_historico = pd.read_excel('cbk_stats.xlsx')

In [8]:
cbk_historico

   user_id  has_cbk
0        1     True
1        2     True
2        3     True
3        4    False
4        5    False
5        6    False
6        7    False
7        8    False
8        9    False
9       10     True

In [24]:
4 is in (cbk_historico['user_id'])

SyntaxError: invalid syntax (3428410063.py, line 1)

In [25]:
if dados.set_index('user_id').index.isin(cbk_historico['user_id']).any():
    print('id de transacao repetido')

id de transacao repetido